#######################################
# Maven
#######################################

# Build output
target/

# Maven Wrapper (tieni solo i file necessari)
.mvn/wrapper/maven-wrapper.jar

#######################################
# Java
#######################################

# Compiled class files
*.class

# Logs
*.log

#######################################
# IntelliJ IDEA
#######################################

.idea/
*.iml
out/

#######################################
# Eclipse / STS
#######################################

.project
.classpath
.settings/
.springBeans
.sts4-cache/

#######################################
# VS Code
#######################################

.vscode/

#######################################
# OS files
#######################################

.DS_Store
Thumbs.db